 /*
     --------------------------------------------
     -------------- General ------------------
     --------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
}

.canvas {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    background-color: white;
    visibility: hidden;
}

 /*
     --------------------------------------------
     -------------- Essentials ------------------
     --------------------------------------------
*/

.canvas * {
    position: absolute;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

.canvas .click-through {
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.canvas .outline {
    width: 100%;
    height: 100%;
    z-index: 500;
    border: 1px solid #eaeaea;
}

.canvas .overlay {
    width: 100%;
    height: 100%;
    background: white;
} 

/*
     --------------------------------------------
     -------------- Specific --------------------
     --------------------------------------------
*/








